<md-card>
   <md-card-header>
      <img md-card-avatar src="path/to/img.png">
      <md-card-title>Angular2 with spring-boot</md-card-title>
      <md-card-subtitle>- a workshop</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="path/to/img.png">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
    <md-card-actions>
        <button (click)="goTOTODO()" md-button>PRACTICAL</button>
        <button (click)="goToAngularTheory()" md-button>THEORY</button>
   </md-card-actions>
</md-card>
